<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are a very calculated person. Your impulse control is linked to increased blood flow in the basal ganglia and areas of the frontal lobe.  </h1>
     <img src ="http://rt.com/files/news/21/91/c0/00/warren-buffett.jpg">
     <h1> Thank you! We hope you enjoyed this adventure!</h1> 
    
   </ul>
 </head>
 <body>
 </body>
</html>