<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1>Your oppenness to new experiences corelates with increased activity in many brain regions to the right.</h1>
     <img src ="http://i.kinja-img.com/gawker-media/image/upload/lyieigwmjpb9oh36tjzu.jpg" height=350px>
     <h1> You won the lottery!</h1> 
     <a href="advisor.erb"> <li>I should hire a finacial advisor to help me deal with the money. </li></a>
     <a href="dropout.erb"><li>I should drop out of school  </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>