<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are anxious! Pre-day jitters trace back to activity particularly in the amygdala. </h1>
     <img src ="http://static.comicvine.com/uploads/original/0/77/1085530-eeyore.jpg">
     <h1>You are Kim Jong Un.  You and your generals have been planning an invasion of South Korea. Your pal Putin backed out at the last minute. </h1> 
     <a href="alone.erb"> <li>I shall invade alone, and see what happens.</li></a>
     <a href="noalone.erb"><li> There is no way I'm doing this alone! </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>