<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You imagine positive future events! This cingulate cotext and amygdala light up with increased coordinated activity.  </h1>
     <img src ="http://www.teslasociety.com/pictures/pic1.jpg">
     <h1>You are Kim Jong Un.  You and your generals have been planning an invasion of South Korea. Your pal Putin backed out at the last minute. </h1> 
     <a href="alone.erb"> <li> I shall invade alone, and see what happens. </li></a>
     <a href="noalone.erb"><li>There is no way I'm doing this alone! </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>