<!DOCTYPE html>
<html>
 <head>
   <style>
     h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are a very, very open to new experiences. </h1>
     <img src ="http://pixel.nymag.com/imgs/fashion/daily/2014/12/08/08-justin-bieber-platinum-blonde.w750.h560.2x.jpg" height=350px>
     <h1> Thank you! We hope you enjoyed this adventure!</h1> 
    
   </ul>
 </head>
 <body>
 </body>
</html>