



<!DOCTYPE html>
<html>
 <head>
   <style>
     .boxed
{
  margin: 20px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:5px;
}
.animated{
  color:black;
text-shadow:#fff 0 0 10px;
  font-size:200px;
}
     body{
     background-image :url("http://wallpoper.com/images/00/40/91/16/brain-skeletons_00409116.jpg");
 
     background-size :cover;
     }
     h1{
     color :black;
     text-align :center;
     padding-top :100px;
     }
     h2{
     padding-left :100px;
     padding-right :100px;
     color :black;
     }
     .boxed {
  font-size: 30px;
  border: 5px solid white ;
}
    .box {
      text-align:center;
      padding-top:40px;
      padding-bottom:40px;
}
.box:hover {
  background: ;
}
     .button {
  -moz-border-radius: 25px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 2.1s ease-in;
  -ms-transition: all 2.1s ease-in;
  -o-transition: all 2.1s ease-in;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 2.1s ease-in;
  background-color: #b2ebe7;
  background-image: -moz-linear-gradient(90deg, #ed91e3, #b2ebe7);
  background-image: -ms-linear-gradient(90deg, #ed91e3, #b2ebe7);
  background-image: -o-linear-gradient(90deg, #ed91e3, #b2ebe7);
  background-image: -webkit-linear-gradient(90deg, #ed91e3, #b2ebe7);
  background-image: linear-gradient(90deg, #ed91e3, #b2ebe7);
  border-radius: 25px;
  border: 2px solid #ffffff;
  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-family: Trebuchet MS;
  font-size: 4em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 2.1s ease-in;
  text-align:center;
}
.button:hover {
  padding: 15px;
}
     blockquote {margin: 20px; }
     h2

   </style>
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
   <h1 class="animated"> Welcome to your brain. </h1>
<div class = "boxed">
   <h2>The control center of your body. With immersive technologies, you will go through your everyday activities and witness the triggered activation in your brain. Like the cosmos, your brain is complex and research possibilities are as vast as the universe.
   </h2>
     </div>
   <div class = "box">
  <a href="selector.erb" class="button">Click here to begin your day.</a>
     <br>
       <a href="survey.erb" class="button">Click here to start the survey.</a>
<!--    <a href="survey.erb" class="button">Click to find out the inner workings of your personality</a> -->
     </div>
 </body>
</html>