<!-- <!DOCTYPE html>
<html>
 <head>
   <style>
.container {
	width:1000px;
	height:1000px;
  margin:auto;
  text-align:center;
}
body {
	background-image: url("http://protiumdesign.com/wp-content/uploads/2015/02/Blurred-Pink-Background-1024.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
h1  {
  color:white;
  text-align:center;
}
p {
  font-size:24px;
};

   </style>
  <meta charset="UTF-8">
  <title>How Love Affects the Brain</title>
 </head>
 <body><div class="container">
   <h1> Go through your day,</h1><h1> See how love affects your brain.</h1>
   <br>
   <p> The frontal cortex, vital to judgment, shuts down when we fall in love.
     <br>
     MRI scans show this de-activation occurs only when someone is shown a photo of the person they adore, 
     <br>
     causing them to suspend all criticism or doubt. </p>

<p>Studies have shown brain chemical dopamine is at higher levels in those in love. 
  Dopamine is key to our experiences of pleasure and pain, linked to desire, addiction, euphoria,
  and a surge may cause such acute feelings of reward that it makes love hard to give up. </p></div>
 </body>
</html> -->


<!DOCTYPE html>
<html>
 <head>
   <style>
     img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
      div.background
{
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
div.transbox
{
  margin: 20px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:5px;
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
      .box {
  border: 5px solid white;
  
}
      .box {
  border: 5px solid white ;
}
     body{
     background-image:url("http://smbhax.com/stuff/_orion_hubble_trapezium.jpg");
     
     background-size:cover;
     }
     .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
   </style>
  <meta charset="UTF-8">
  <title>Reading</title>
 </head>
 <body>
   <img src="http://i.dailymail.co.uk/i/pix/2012/11/10/article-2230969-15F46707000005DC-441_468x289.jpg
    " align="middle">
   <div class="background">
     <div class="transbox">
   <p> The frontal cortex, vital to judgment, shuts down when we fall in love. MRI scans show this de-activation occurs only when someone is shown a photo of the person they adore, causing them to suspend all criticism or doubt.

Studies have shown brain chemical dopamine is at higher levels in those in love. Dopamine is key to our experiences of pleasure and pain, linked to desire, addiction, euphoria, and a surge may cause such acute feelings of reward that it makes love hard to give up.
 </p>
   </div>
   </div>
   <a href="http://www.dailymail.co.uk/health/article-2230969/Crazy-love-What-happens-brain-really-chemistry.html" class="button">Read More</a>
   
   
 </body>
</html>





