<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are introverted the brain's fight or flight response in being triggered by the thought of showing up alone.  </h1>
     <img src ="http://www.executivestyle.com.au/content/dam/images/1/0/e/9/f/4/image.related.articleLeadwide.620x349.10e93x.png/1429427456283.jpg">
     <h1>You won the lottery!</h1> 
     <a href="advisor.erb"> <li> I should hire a finacial advisor to help me deal with the money.</li></a>
     <a href="dropout.erb"><li> I should drop out of school  </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>