<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are optimistic! </h1>
     <img src ="http://cdnvideo.dolimg.com/cdn_assets/0870680f96d428c7a728583f05b34f55047878ce.jpg">
     <h1>Tommorow is your first day of school. </h1> 
     <a href="difference.erb"> <li> I want to make a difference! </li></a>
     <a href="anx.erb"><li> What if people think I am different? </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>