<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> You are pestimistic! </h1>
     <img src ="http://www.kfoxtv.com/template/ugc/kfox/1598/q1YbjrkO.jpg">
     <h1>Tommorow is your first day of school. </h1> 
     <a href="difference.erb"> <li> I want to make a difference! </li></a>
     <a href="anx.erb"><li> What if people think I am different? </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>