<!DOCTYPE html>
<html>
 <head>
   <style>
     p{
       font-size:25px
     }
      div.background
{
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
div.transbox
{
  margin: 20px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:5px;
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
      .box {
  border: 5px solid white;
  
}
     body{
     background-image:url("http://khongthe.com/wallpapers/space/the-orange-nebula-star-nursery-242352.jpg");
     background-size:cover;
     }
     .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
     .center {
 text-align:center;
}
   </style>
  <meta charset="UTF-8">
  <title>Reading</title>
 </head>
 <body>
   <div class="center">
  <img src="http://www.nidcd.nih.gov/staticresources/research/scientists/images/ABraun_image1.jpg" height=600px></div>
   <div class="background">
     <div class="transbox">
       <h1 style=text-align:center> How reading affects your brain</h1>
   <p> Figure 2: Brain maps illustrating increasing activity and functional connectivity of perisylvian and extrasylvian areas in both hemispheres as subjects read words, sentences and narratives. These emergent, context-dependent effects are demonstrated using both fMRI and EEG coherence methods.
An electroencephalogram (EEG) is a test used to detect abnormalities related to electrical activity of the brain. This procedure tracks and records brain wave patterns. Small metal discs with thin wires (electrodes) are placed on the scalp, and then send signals to a computer to record the results. </p>
     </div>
   </div>
   <a href="http://www.nidcd.nih.gov/research/scientists/pages/brauna.aspx" class="button">Read More</a>
   
   
 </body>
</html>
