<!DOCTYPE html>
<html>
 <head>
   
   <style>
.container {
	width:500px;
	height:1000px;
  margin:auto;
}
body {
	background-image: url("http://33.media.tumblr.com/b57e6b703f9dee525433e8ff79b64570/tumblr_nlprx4nuGI1relaado2_400.gif");
  background-repeat:no-repeat;
  background-size:cover;
}
     h1{
       color:white;
       text-align:center;
     }
  .left {
    float:left;
  }
  .right {
    float:right;
  }
   </style>
  <meta charset="UTF-8">
  <title>Selector</title>
 </head>
 <body><div class="container">
   <h1>Blast off to your everyday activities.</h1><h1> See what happens in your brain.</h1>
   <div class="left"><a href="videogames.erb" class="button"><img src="https://cdn3.iconfinder.com/data/icons/multimedia-and-communication-circle-icons/512/video_games_remote-128.png" height=250px></a></div>
    <div class="right"><a href="reading.erb" class="button"><img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-new-generation-of-flat-icons/100/book-128.png" height=250px></a></div>
   <div class="left"><a href="sleeping.erb" class="button"> <img src= "https://cdn4.iconfinder.com/data/icons/home-interior-furniture/512/Home_appliances_single_bed-128.png" height=250px></a></div>
   <div class="right"><a href="love.erb" class="button"> <img src="https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/08_heart-2-128.png" height=250px></a></div>
   <div class="left"><a href="walking.erb" class="button"> <img src="https://cdn2.iconfinder.com/data/icons/flatte-maps-and-navigation/80/04_-_Walking-128.png" height=250px></a></div>
   <div class="right"><a href="programming.erb" class="button"> <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-new-generation-of-flat-icons/100/browser-128.png" height=250px></a></div>
   </div>
 </body>
</html>