<!DOCTYPE html>
<html>
 <head>
   <style>
          h1 {
       color:black;
     }
     ul {
       color:black;
       font-size:25px;
       text-align:center:
     }
     body {
       background-image: url("http://www.can.ubc.ca/wp-content/uploads/2014/03/bg-Synapse-Neurons-Wallpaper-srcPulpbits.com-bw50pc1.jpg")
     }
   </style>
  <meta charset="UTF-8">
  <title>Survey</title>
   <ul><h1> What kind of person are you? </h1>
     <a href="optimistic.erb"><li> Half-full </li></a>
     <a href="pestimistic.erb"><li> Half-empty </li></a>
   </ul>
 </head>
 <body>
 </body>
</html>