<!DOCTYPE html>
<html>
 <head>
   <style>
     p{
       font-size:25px
     }
      div.background
{
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
div.transbox
{
  margin: 20px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:5px;
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
      .box {
  border: 5px solid white;
  
}
     .box {
  border: 5px solid white ;
}
    
     
     
     body{
     background-image:url("http://images6.alphacoders.com/405/405253.jpg");
     background-size:cover;
     
     }
     .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
     .button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
     .center {
 text-align:center;
}
   </style>
  <meta charset="UTF-8">
  <title>Video Games</title>
 </head>
 <body><div class="center">
  <img src = "http://ww1.prweb.com/prfiles/2012/03/16/9293984/fMRI_BrainScanImage.jpg" height=450px></div>
   
   <div class="background">
     <div class="transbox">
       <h1 style=text-align:center> How videogames affect your brain</h1>
   <p> Video Games in the Brain: Study Shows How Gaming Impacts Brain Function to Inspire Healthy Behavior

In news that could shift how game developers and healthcare professionals harness the power of videogames to do good, HopeLab and Stanford University researchers today announced new data showing that Re-Mission™, a video game about killing cancer in the body, strongly activates brain circuits involved in positive motivation 

“Identifying a direct connection between the stimulation of neural circuits and game play is a key step in unlocking the potential for game-based tools to inspire positive behavior and improve health,” said Brian Knutson, Ph.D., associate professor of psychology and neuroscience at Stanford University and co-author of the article.
“Active involvement in video game play sparks positive motivation in a way that watching and hearing information does not,” said Steve Cole, Ph.D., Vice President of Research and Development at HopeLab, professor of medicine at the University of California, Los Angeles, and co-author of the article. “All participants in the study received the same information. It was the active participation in gameplay that made the big difference in motivation. This study helps refine our ‘recipe for success’ in harnessing the power of play in the service of health.”</p>
   </div>
   </div>
     
     
   <a href="http://www.prweb.com/releases/2012/3/prweb9293984.htm " class="button">Read more</a>
   
   
 </body>
</html>
