<!-- <!DOCTYPE html>
<html>
 <head>
   <style>
      .box {
  border: 5px solid white ;
}
     body{
     background-image:url("http://wallpapercolor.net/wallpapers/blurred-background-wallpaper-13349.jpg");
     
     background-size:cover;
     }
     .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
   </style>
  <meta charset="UTF-8">
  <title>Walking</title>
 </head>
 <body>
  <img src="http://a.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2014/02/3025957-inline-i-1-what-happens-to-our-brains-when-we-exercise-and-how-it-makes-us-happier.jpg">
   <div class="box"> -->
   <p> <!DOCTYPE html>
<html>
 <head>
   <style>
     
     p{
       font-size:25px
     }
     div.background
{
  background: url(klematis.jpg) repeat;
  border: 2px solid white;
}
div.transbox
{
  margin: 20px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding:5px;
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
      .box {
  border: 5px solid white;
  
}
     body{
     background-image:url("http://cdn2.landscapehdwalls.com/wallpapers/1/beautiful-starry-sky-5039-1680x1050.jpg");
      background-size:cover;
     }
     .button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
     .center {
 text-align:center;
}
   </style>
  <meta charset="UTF-8">
  <title>Walking</title>
 </head>
 <body><div class="center">
  <img src="http://a.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2014/02/3025957-inline-i-1-what-happens-to-our-brains-when-we-exercise-and-how-it-makes-us-happier.jpg" height=450px></div>
   <div class="background">
     <div class="transbox">
       <h1 style=text-align:center> How walking affects your brain</h1>
   <p> This Great Graphic is really an MRI of the brain. It was posted by Maria Popova on her always stimulating blog, Explore. The MRI was provided by Dr. Chuck Hillman from the University of Illinois.  

It shows that after a 20-minute walk there is increased brain activity and the particular type of activity is generally associated with happiness. 

It is a useful reminder of the interconnectedness of the mind and body (with apologies to the usual dualism presented).   It is also a good reminder that by exercising our bodies, we also reinvigorate of brains.
 </p>
   </div>
   </div>
   <a href="http://www.fastcompany.com/3025957/work-smart/what-happens-to-our-brains-when-we-exercise-and-how-it-makes-us-happier" class="button">Read More</a>
  
 </body>
</html>